body {
  vertical-align: top;
  font-family: sans-serif;
  min-width:1000px;
  /* background: repeating-linear-gradient(45deg, #eb8e59, #eb8e59 43px, #eeeeee 43px, #eeeeee 50px); */
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #1a4f64;
  height: 120px;
  text-align: center;
}
h2 {
  font-size: 42px;
  font-family: 'Arizonia', cursive, sans-serif;
  color: #eeeeee;
  margin: 0px auto 1px auto;
  /* display: inline; */
}

header p {
  color: #eeeeee;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  font-size: 12px;
}

nav {
  position: fixed;
  top: 120px;
  width: 100%;
  background-color: #d0d1d1;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px #777777;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  width: 20%;
  margin: 17px auto;
  color: #0f2f3b;
  font-weight: bold;
}

nav ul li:hover {
  cursor: pointer;
  color: #126d91;
}

footer{
  /* margin-top: 20px; */
  height: 80px;
  background-color: #1a4f64;
  box-shadow: 0 -0.5px 2px #777777;
}

.logo {
  margin-top: 5px;
  max-width: 35%;
  max-height: 35%;
}
/* Tentative style, will change later */
.indexSalmon{
  width: 197px;
  height: 62px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
}

/* Temp */
.pending{
  font-size: 36px;
  margin: 10px;
  /* text-align: center; */
  font-weight: bold;
  /* display: inline;  */
}

/* Temp */
.dots {
  font-size: 36px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.refer{
  text-decoration: none;
  color: #eeeeee;
  margin: 20px 20px;
  border: none;
  background-color: #43a046;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.refer:hover {
  background-color: #46ac4a;
  cursor: pointer;
  box-shadow: 0 1px 2px #777777;
}

.wrapper {
  width: 95%;
  background-color: #e4cfa8;
  margin: 160px auto 0 auto;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
  /* tentative height */
  height: 1000px;

}

.background {
  background: repeating-linear-gradient(45deg, #d6705e, #d6705e 43px, #eeeeee 43px, #eeeeee 50px);
  height: auto;
}