body {
  vertical-align: top;
  font-family: sans-serif;
  /* background-color: rgb(197, 194, 194); */
  min-width:1000px;
  background: repeating-linear-gradient(45deg, #eb8e59, #eb8e59 43px, #eeeeee 43px, #eeeeee 50px);
}

ul { 
  list-style-type: disc; 
  list-style-position: outside; 
  margin-left: 65px;
}

h2 {
  font-size: 24px;
  margin: 10px 5px;
}

h3 {
  font-size: 18px;
  margin: 10px 5px;
  text-align: center;
  font-weight: bold;
}

li {
  margin: 5px;
}

.wrapper {
  width: 95%;
  background-color: rgb(243, 243, 243);
  margin: 80px auto 0 auto;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
  /* height: 1000px; */
}

#salmon {
  max-width: 60%;
  max-height: 60%;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #e4964e; */
  /* background-color: #37944b; */
  background-color: #329ac4;
  height: 80px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px #777777;
}

tr:nth-child(even) {
  background-color: #dadada;
}

td, th {
  border: 1px solid #dadada;
  text-align: left;
  padding: 8px;
  width: 70px;
  height: 30px;
}

th {
  font-weight: bold;
}

table {
  max-width: 100%;
  word-break: normal;
  word-wrap: break-word;
  table-layout: fixed;
}

fieldset{
  padding: 15px;
  margin: 10px auto;
  width: 55%;
  height: auto;
  background-color: #c0bfbf;
  border: 2px solid #e0dfdf
}

label{
  float: left;
  clear: left;
  text-align: right;
  width: 250px;
  margin: 14px;
}

input{
  float:left;
  margin: 10px;
  width: 200px;
  height: 20px;
}

.subButton{
  float: none;
  color: #eeeeee;
  margin: 10px auto;
  border: none;
  background-color: #43a046;
  height: 50px;
  font-size: 24px;
}

.subButton:hover{
  background-color: #46ac4a;
  cursor: pointer;
  box-shadow: 0 1px 2px #777777;
}

.submitField{
  text-align: center;
}

#flash{
  text-align: center;
}
